@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css');
@import url('https://www.fontify.me/wf/c45f9b496168feaee7a731fa325e6705');

@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Medium.otf') format('opentype'), url('../fonts/FuturaPT-Medium.woff') format('woff'), url('../fonts/FuturaPT-Medium.ttf') format('truetype'), url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Book.woff2') format('woff2'), url('../fonts/FuturaPT-Book.woff') format('woff'), url('../fonts/FuturaPT-Book.ttf') format('truetype'), url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Light.otf') format('opentype'), url('../fonts/FuturaPT-Light.woff') format('woff'), url('../fonts/FuturaPT-Light.ttf') format('truetype'), url('../fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Bold';
    src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Bold.otf') format('opentype'), url('../fonts/FuturaPT-Bold.woff') format('woff'), url('../fonts/FuturaPT-Bold.ttf') format('truetype'), url('../fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Demi';
    src: url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Demi.otf') format('opentype'),
    url('../fonts/FuturaPT-Demi.woff') format('woff'), url('../fonts/FuturaPT-Demi.ttf') format('truetype'), url('../fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection {
    background: #06089a;
    color: #fff;
}

::-moz-selection {
    background: #06089a;
    color: #fff;
}

a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

*:focus {
    outline: none !important
}

img {
    max-width: 100%
}

strong,
b {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

.clr {
    border: 0;
    clear: both;
    height: 0;
}

.display-table {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

html,
body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}

p {
    font-family: 'AvenirLT-Light';
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.display-table {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.form-control {
    box-shadow: none !important;
}

body {
    background: #fff;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    overflow-x: hidden;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

p {
    font-size: 16px;
    color: #58585a;
    font-weight: 300;
    line-height: 1.6;
}

.pk-loader {
    background: #efefef;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.pk-loader svg {
    bottom: 0;
    height: 70px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
}

.pk-loader svg polygon {
    stroke-dasharray: 17;
    -webkit-animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
    animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
    stroke: #06089a;
}

.loader-text {
    color: #555555;
    left: 0;
    letter-spacing: 4px;
    margin-top: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}

.loaded .pk-loader {
    display: none;
}

.cs-btn[pk] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.cs-btn[pk] .lines {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    -webkit-transition: all ease 800ms;
    -moz-transition: all ease 800ms;
    -o-transition: all ease 800ms;
    transition: all ease 800ms;
}

.cs-btn[pk] .lines.top {
    top: -2px;
    left: -2px;
    height: 3px;
    width: 0;
}

.cs-btn[pk] .lines.right {
    top: -2px;
    right: -2px;
    width: 3px;
    height: 0;
}

.cs-btn[pk] .lines.bottom {
    bottom: -2px;
    right: -2px;
    width: 0;
    height: 3px;
}

.cs-btn[pk] .lines.left {
    bottom: -2px;
    left: -2px;
    width: 3px;
    height: 0;
}

.cs-btn[pk]:hover .lines {
    background: #009f2c;
}

.cs-btn[pk]:hover .lines.top,
.cs-btn[pk]:hover .lines.bottom {
    padding-right: 2px;
    width: 100% !important;
}

.cs-btn[pk]:hover .lines.left,
.cs-btn[pk]:hover .lines.right {
    height: 100% !important;
    padding-bottom: 2px;
}

.Cover-bg {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-window {
    width: 90%;
    max-width: 748px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    padding: 65px 100px 100px;
}

.login-window .logo {
    margin: 0 0 50px;
    display: inline-block;
}

.login-window h2 {
    color: #3b3b3b;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    margin: 0 0 25px;
}

.login-window .form-group {}

.login-window .form-control {
    height: 52px;
    border: 2px solid #292929;
    border-radius: 30px;
    margin: 0 0 15px;
}

.login-window .form-control:focus {
    border-color: #f6e428;
}

.login-window p {
    text-align: right;
}

.login-window p .frgt-pwd {
    font-size: 18px;
    text-transform: capitalize;
    color: #06089a;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
}

.login-window p .frgt-pwd:hover {
    color: #f6e428;
}

.sbmt-btn {
    background: #06089a;
    color: #fff;
    text-transform: uppercase;
    width: 238px;
    height: 63px;
    text-align: center;
    margin: 30px auto 0;
    font-size: 24px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    border: 0;
    border-radius: 35px;
    transition: all 0.7s ease-out 0s;
    -webkit-transition: all 0.7s ease-out 0s;
}

.sbmt-btn:hover,
.sbmt-btn:focus {
    background: #f6e428;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 20px;
    z-index: 1;
}

.footer p {
    color: #fff;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.footer p a {
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    color: #fff;
    text-decoration: underline !important;
}

.footer p a:hover,
.footer p a:focus {
    color: #f6e428;
}

.copyright-txt {
    font-size: 17px;
    margin: 30px 0 0;
}

.d-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #e3e3e4;
    padding: 15px 0;
    background: #fff;
}

.d-header .hdr-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hdr-wrap .logo {
    width: 222px;
}

.user_view {
    cursor: pointer;
    position: relative;
}

.user_icon {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 65px;
    overflow: hidden;
    text-align: center;
    width: 65px;
    vertical-align: middle;
}

.user_icon > img {
    width: 100%;
    border-radius: 50%;
}

.caret1 {
    color: #3b3b3b;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 20px;
    vertical-align: middle;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
}

.caret1 i {
    color: #06089a;
    font-size: 24px;
    margin: 0 0 0 12px;
    position: relative;
    top: 4px;
}

.view_links {
    background: #06089a;
    position: absolute;
    right: 0;
    top: 88px;
    width: 100%;
    z-index: 10;
    display: none;
    margin: 0;
}

.view_links li {
    font-size: 14px;
}

.view_links li a {
    color: #fff;
    display: block;
    padding: 10px 30px;
    position: relative;
    text-transform: capitalize;
}

.view_links li a:hover,
.view_links li a:focus {
    background: #f6e428;
    color: #000;
    text-decoration: none;
}

.dashboard-content {
    padding-top: 110px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-content aside {
    width: 20%;
    background: #06089a;
    height: auto;
    position: fixed;
    top: 110px;
    bottom: 0;
}

.dashboard-nav ul {
    margin: 0;
    padding: 0;
}

.dashboard-nav li {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    border-bottom: 1px solid #3839ae;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    position: relative;
}

.dashboard-nav li a {
    color: #fff;
    display: block;
    padding: 14px 50px 15px 38px;
}

.dashboard-nav li a span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 0 0;
}

.dashboard-nav li a span svg {
    width: 20px;
    height: 21px;
    fill: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.dashboard-nav li:hover,
.dashboard-nav li.active {
    background: #f6e428;
}

.dashboard-nav li:hover a,
.dashboard-nav li.active a,
.dashboard-nav li:hover .drop-down,
.dashboard-nav li.active .drop-down {
    color: #000;
}

.dashboard-nav li .drop-down:hover {
    background: #000;
    color: #fff;
}

.dashboard-nav li .drop-down.open {
    color: #fff;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.dashboard-nav li.active .drop-down.open {
    color: #000;
}

.dashboard-nav li:hover a span svg,
.dashboard-nav li.active a span svg {
    fill: #000;
}

.dashboard-nav li .drop-down.open:hover {
    color: #fff;
}

.dashboard-nav li .drop-down {
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    color: #fff;
    top: 14px;
    right: 20px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.dashboard-nav li .submenu {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    display: none;

}

.dashboard-nav li .submenu li {
    border: 0;
    margin: 0;
}

.dashboard-nav li .submenu li a {
    padding: 10px 20px 10px 70px !important;
    color: #fff;
    background: #06089a;
    display: block;
}

.dashboard-nav li.active .submenu li a {}

.dashboard-nav li .submenu li a i {
    margin: 0 10px 0 0;
}

.dashboard-nav li .submenu li a:hover,
.dashboard-nav li .submenu li a:focus,
.dashboard-nav li .submenu li.active a {
    color: #f6e428;
}

.dashboard-nav li a small {
    position: absolute;
    right: 15px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    color: #06089a;
    text-align: center;
    line-height: 40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 18px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
}

.content-section {
    margin-left: 20%;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
    width: 80%;
    padding: 20px;
    background: #f7f7f7;
}

.boxes {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxes li {
    flex: 0 0 24%;
    height: 345px;
    box-shadow: 0 0 10px #ddd;
    padding: 20px 40px;
    margin: 0 0 20px;
    background: #fff;
    text-align: center;
}

.boxes li h2 {
    font-size: 64px;
    font-family: 'FuturaPT-Demi';
    font-weight: normal;
    color: #06089a;
    margin: 0 0 55px;
}

.boxes li h3 {
    font-size: 64px;
    color: #ee2223;
    font-family: 'FuturaPT-Demi';
    font-weight: normal;
}

.boxes li p {
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    color: #3b3b3b;
    line-height: 1.7;
}

.boxes li h4 {
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    color: #3b3b3b;
    text-transform: capitalize;
    margin: 15px 0 0;
}

.top-emplyees {
    text-align: left;
    margin: 10px 0 0;
}

.top-emplyees figure {
    width: 64px;
    height: 58px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-size: cover !important;
    background-position: center !important;
}

.top-emplyees .info {
    width: 74%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    padding: 0 0 0 8px;
}

.top-emplyees ul {
    display: inline-block;
    vertical-align: middle;
}

.boxes li .top-emplyees li {
    height: auto;
    width: auto;
    box-shadow: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: none;
}

.top-emplyees span {
    display: inline-block;
    vertical-align: middle;

}

.info h6 {
    font-size: 20px;
    text-transform: capitalize;
    color: #272727;
    margin: 0 0 8px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.info ul li a {
    color: #eece49;
}

.info span {
    font-size: 18px;
    color: #189f22;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
}

.checkin-out-chart {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 10px #ddd;
    margin-bottom: 50px;
    position: relative;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.buttons-set {}

.buttons-set a {
    background: #393939;
    color: #fff;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 30px;
    padding: 7px 25px;
    margin: 0 10px 0 0;
}

.buttons-set a.crnt,
.buttons-set a:hover {
    background: #06089a;
}

.bar-info {}

.bar-info p {
    text-transform: uppercase;
    color: #3a3a3a;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.top-bar.right-bar {
    justify-content: flex-end;
}

.cntnt-head-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
}

.cntnt-head-bar h1 {
    font-size: 30px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
}

.srch {
    border: 2px solid #292929;
    border-radius: 30px;
    width: 30%;
    position: relative;
}

.srch input {
    border: 0;
    padding: 0 50px 0 20px;
    width: 100%;
    background: transparent;
    height: 44px;
}

.srch i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.tbl-view {
    margin: 20px 0 0;
    width: 100%;
}

.tbl-view thead {}

.tbl-view th {
    padding: 23px 25px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    color: #3a3a3a;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    text-transform: uppercase;
}

.tbl-view td {
    padding: 30px 25px;
    border-bottom: 1px dotted #dcdcdc;
    font-size: 20px;
    color: #272727;
    font-weight: normal;
    font-family: 'FuturaPT-Light';
}

.tbl-view tr:last-child td {
    border: 0;
}

.check,
.delete {
    background: #6ac258;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: inline-block;
}

.delete {
    background: #ee2222;
}

.check:hover {
    background: #f6e428;
    color: #000;
}

.delete:hover {
    background: #b90505;
    color: #fff;
}

.pagination {
    margin: 0 0 40px;
    text-align: center;
    display: block;
}

.btn {
    background: #06089a;
    color: #fff;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    text-transform: uppercase;
    padding: 7px 25px;
    border-radius: 30px;
    margin: 0 10px 0 0;
}

.red-btn {
    background: #ee2223;
}

.btn:hover,
.btn:focus {
    background: #f5e427;
    color: #000;
}

.dashboard-nav li a small {
    width: 35px;
    height: 35px;
    line-height: 38px;
    font-size: 14px;
}

.cmplt-btn {
    background: #6ac258;
}

.create-task-bx .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.create-task-bx .form-control {
    margin: 0 10px;
}

.form-control {
    height: 52px;
    border: 2px solid #292929;
    border-radius: 30px;
    padding: 0 20px;
    color: #000;
}

textarea.form-control {
    resize: none;
    height: 130px;
    padding: 20px;
}

.form-control:focus {
    border-color: #f6e428;
}

.form-group select {
    background: url(../images/select.png) no-repeat scroll right center;
    position: relative;
    z-index: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group select::-ms-expand {
    display: none;
}

.create-task-bx .form-group .chs_fle {
    position: relative;
    margin: 0 10px;
    width: 103%;
}

.create-task-bx .form-group .chs_fle .form-control {
    margin: 0;
}

.viewbtn {
    color: #06089a;
}

.viewbtn:hover,
.viewbtn:focus {
    color: #f5e427;
}

.tbl-view.asset-tbl td[data-column="Asset description"] {
    width: 25%;
}

.tbl-view.asset-tbl td[data-column="Current Location"] {
    width: 18%;
}

.redBtn {
    background: #ee2223;
}

.task-view-tbl td[data-column="Asset"] {
    width: 25%;
}

.task-view-tbl td[data-column="Date"] {
    width: 22%;
}

.task-view-tbl td[data-column="Worker"] {
    width: 22%;
}

.task-view-tbl td[data-column="Task"] {
    width: 18%;
}

.rght-btn {
    background: #06089a;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 34px;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    margin: 0 0 0 10px;
}

.rght-btn.grn-btn {
    background: #6ac258;
}

.rght-btn.red-btn {
    background: #ee2222;
}

.rght-btn.grey-btn {
    background: #393939;
}

.rght-btn:hover,
.rght-btn:focus {
    background: #f5e427;
    color: #000;
}

.img-info-block {
    border-bottom: 1px dotted #000;
    padding: 0 0 40px 0;
}

.asset-info {}

.asset-info p {
    margin: 0 0 12px;
    color: #272727;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.asset-info p label {
    color: #3a3a3a;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    width: 18%;
    display: inline-block;
    vertical-align: top;
}

.asset-info p span {
    display: inline-block;
    width: 78%;
    vertical-align: top;
}

.additional-info {
    margin: 40px 0;
}

.additional-info h2,
.pdf-sheet h2,
.components-sec h2,
.fltrs h2 {
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    color: #3b3b3b;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

.additional-info h2 i,
.pdf-sheet h2 i,
.components-sec h2 i,
.fltrs h2 {
    margin: 0 0 0 10px;
}

.info-list {
    margin: 30px 0 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}

.info-list li {
    margin: 0 0 15px;
    color: #272727;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    width: 48%;
    display: inline-flex;
}

.info-list li label {
    color: #3a3a3a;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    width: 38%;
}

.info-list li span {
    display: inline-block;
    width: 78%;
    vertical-align: top;
}

.asset-tbl td[data-column="File Name"],
.asset-tbl td[data-column="Project Name"] {
    width: 18%;
}

.asset-tbl td[data-column="Image"],
.asset-tbl td[data-column="Video"] {
    width: 25%;
}

.pdf-sheet {
    padding: 40px 0;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
}

.sheets,
.all-filters {
    margin: 30px 0 0;
    display: none;
}

.sheets li {
    color: #272727;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
    border-bottom: 1px dotted #000;
    margin: 0 0 20px;
    padding: 0 0 20px;
    align-items: center;
}

.sheets li a {
    background: #06089a;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 35px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
}

.sheets li:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}

td[data-column="View History"] {
    text-align: center;
}

.components-sec {
    margin: 55px 0;
    border-bottom: 1px dotted #000;
    padding-bottom: 55px;
}

.components-sec .tbl-view {
    display: none;
}

.comments {
    margin: 40px 0;
}

.comments h2 {
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    color: #3b3b3b;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

.cmnt-block {
    border-bottom: 1px dotted #000;
    padding: 20px 0 15px;
}

.cmnt-block h3 {
    font-size: 20px;
    color: #272727;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    text-transform: capitalize;
    margin: 0 0 12px;
}

.cmnt-block p {
    font-size: 20px;
    color: #272727;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.cmnt-block img {
    margin: 15px 0 0;
}

.img-info-block .info-list {
    display: block !important;
}

.buttons-collage {}

#t-list .task-view-tbl td[data-column="Project Name"] {
    width: 25%;
}

#t-list .asset-tbl td[data-column="Project Name"] {
    width: 32%;
}

.components-sec .tbl-view td[data-column="Name"] a {
    color: #272727;
}

.comp-div {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px 20px;
}

.comp-div figure {
    width: 40%;
}

.labels-component {
    margin: 0 0 0 5%;
    width: 55%;
}

.comp-div p {
    font-size: 20px;
    color: #272727;
    margin: 15px 0 0;
}

.labels-component p {
    margin: 0 0 15px;

}

.labels-component p strong {
    width: 40%;
    display: inline-flex;
}

#c-history .modal-body,
#asset-history .modal-body {
    padding: 0 50px;
}

#c-history table td:first-child,
#asset-history table td:first-child {
    width: 65%;
}

.cntct-info {
    margin: 40px 0;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
    padding: 40px 0;
}

.cntct-info h2 {
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    color: #3b3b3b;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

.cntct-info h2 i {
    margin: 0 0 0 10px;
}

.info-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}

.info-wrap .info-list {
    display: inline-block;
    border-right: 1px dotted #000;
    margin-right: 90px;
    width: 27%;
}

.info-wrap .info-list:last-child {
    border: 0;
    margin: 0;
}

.info-wrap .info-list li {
    width: 100%;
}

.components-sec .btn {
    width: 185px;
    text-align: center;
}

.info-wrap form {
    width: 100%;
    max-width: 390px;
    margin: 20px 0;
}

.cvr-box {
    padding: 0 50px;
}

.workr-box h6 {
    font-size: 20px;
    color: #272727;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    margin: 0 0 10px;
}

.workr-box figure {
    margin: 0 0 15px;
}

.p-task {
    position: absolute;
    top: 25px;
    right: 40px;
    text-transform: uppercase;
}

.owl-prev {
    background: none!important;
    border-radius: 50% !important;
    height: 40px;
    left: 0;
    opacity: 1 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 40px;
    color: #7f7f7f;
    border: 2px solid #e7e7e7;
    font-size: 0;
    text-align: center;
}

.owl-next {
    right: 0;
    background: none !important;
    border-radius: 50% !important;
    height: 40px;
    opacity: 1 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 40px;
    color: #7f7f7f;
    border: 2px solid #e7e7e7;
    font-size: 0;
    text-align: center;
}

.owl-prev:hover,
.owl-prev:focus,
.owl-next:hover,
.owl-next:focus {
    border-color: #06089a;
    background: #f5e427 !important;
}

.owl-prev::before {
    color: #7f7f7f;
    content: "\f0d9";
    font-family: FontAwesome;
    font-size: 28px;
    left: -4px;
    position: absolute;
    right: 0;
    top: -2px;
    text-align: center;
}

.owl-next::before {
    color: #7f7f7f;
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 28px;
    left: 0px;
    position: absolute;
    right: -4px;
    top: -2px;
    text-align: center;
}

.owl-pagination {
    display: none;
}

.workr-box .btn {
    font-size: 17px;
    margin: 0 8px 0 0;
}

.additional-info.attndnc {
    border-bottom: 1px dotted #000;
    padding-bottom: 40px;
}

.div-wrap {
    width: 40%;
}

.div-wrap .srch {
    display: inline-block;
    width: 63%;
}

.div-wrap .btn {
    display: inline-block;
    margin: 0 0 0 15px;
}

.rght-btn.cmplt-btn {
    background: #6ac258;
}

.abt-cmpny {}

.abt-cmpny h3,
.get-in-touch h3 {
    color: #3b3b3b;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    margin: 0 0 20px;
}

.abt-cmpny p {
    color: #3a3a3a;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    margin: 0 0 30px;
}

.abt-cmpny ul li {
    width: 100%;
    margin: 0 0 10px;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.abt-cmpny ul li a {
    color: #3a3a3a;
}

.abt-cmpny ul li a:hover,
footer .block2 ul li a:focus {
    color: #06089a;
}

.abt-cmpny ul li span {
    color: #06089a;
    width: 5%;
    font-size: 20px;
    position: relative;
    top: 4px;
    display: inline-block;
    vertical-align: top;
}

.abt-cmpny ul li span .fa-mobile,
.abt-cmpny ul li span .fa-map-marker {
    font-size: 30px;
    margin: 7px 0 0;
}

.abt-cmpny ul li p {
    color: #3a3a3a;
    width: 90%;
    display: inline-block;
    margin: 0
}

.get-in-touch {
    border: 1px solid #969696;
    padding: 25px;
}

.get-in-touch h3 {
    margin: 0 0 35px;
    border-bottom: 1px dotted #000;
    padding-bottom: 12px;
}

.get-in-touch form {
    text-align: center;
}

.get-in-touch .btn-sbmit {
    margin: 20px auto 0;
}

.map-container {
    margin: 45px 0 0;
}

.map-container iframe {
    width: 100%;
    height: 445px;
}

.news-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px dotted #000;
    padding: 0 0 25px;
    margin: 0 0 25px;
}

.news-section:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}

.news-section figure {
    width: 25%;
}

.news-section .news-description {
    width: 75%;
    padding-left: 30px;
}

.news-description h3,
.full-news h3 {
    color: #3b3b3b;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    margin: 0 0 15px;
}

.news-description h3 a {
    color: #3b3b3b;
    text-decoration: none;
}

.news-description h3 a:hover {
    color: #06089a;
}

.news-description p,
.full-news p {
    color: #3a3a3a;
    font-size: 20px;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.news-description a {
    color: #06089a;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: underline;
}

.news-description a:hover,
.news-description a:focus {
    color: #f5e427;
}

.full-news {}

.full-news figure {
    margin: 0 0 30px;
}

.full-news h3 {}

.full-news p {
    margin: 0 0 15px;
}

.latest-news {
    border: 1px solid #969696;
    padding: 20px;
}

.latest-news h3 {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px dotted #000;
    margin: 0 0 20px;
    padding: 0 0 10px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    color: #3b3b3b;
}

.news-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 15px;
}

.news-box figure {
    width: 25%;
}

.description {
    width: 75%;
    padding: 0 0 0 15px;
}

.description h3 {
    border: 0;
    padding: 0;
    margin: -3px 0 4px;
    text-transform: none;
    font-size: 18px;
}

.description h3 a {
    color: #3b3b3b;
}

.description h3 a:hover {
    color: #06089a;
}

.description p {
    font-size: 16px;
    margin: 0;
    line-height: 1.4;
}

.boxes.profileboxes {
    justify-content: flex-start;
}

.boxes.profileboxes li {
    margin: 0 25px 20px 0;
}

.notification-bar {
    border-bottom: 1px dotted #000;
    padding: 0 0 25px;
    margin: 0 0 25px;
}

.notification-bar:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}

.nf-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 15px;
}

.nf-bar h3 {
    font-size: 20px;
    color: #3a3a3a;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    text-transform: uppercase;
}

.nf-bar h3 span {
    font-family: 'FuturaPT-Bold';
    font-weight: normal;
}

.nf-bar h6,
.nf-bar p {
    font-size: 20px;
    color: #3a3a3a;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.flex-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-cover .asset-info {
    width: 50%;
}

.review-rating {
    width: 50%;
    text-align: center;
    border-left: 1px dotted #000;
}

.review-rating li {
    display: inline-block;
    font-size: 24px;
}

.review-rating li a {
    color: #eece49;
}

.review-rating h2 {
    color: #189f22;
    font-size: 30px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    margin: 0 0 10px;
}

.review-rating h3 {
    font-size: 24px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    color: #3b3b3b;
}

.review-rating input {
    background: #06089a;
    border-radius: 30px;
    color: #fff;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    padding: 9px 50px;
    margin-top: 25px;
    border: 0;
    display: inline-block;
}

.review-rating input:hover {
    background: #eece49;
}

.ratings-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
    padding: 60px 0;
    margin: 60px 0;
}

.box-rating {
    width: 49%;
    border: 1px solid #969696;
    padding: 40px;
}

.box-rating table {
    width: 100%;
}

.box-rating table thead {
    border-bottom: 1px dotted #000;
    border-radius: 0;
}

.box-rating table th {
    text-transform: uppercase;
    border-radius: 0;
    font-size: 20px;
    color: #3a3a3a;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    padding: 0 0 30px;
}

.box-rating table td {
    padding: 15px 0 0;
    font-size: 20px;
    color: #3a3a3a;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.box-rating ul {
    display: inline-block;
    vertical-align: middle;
}

.box-rating li {
    height: auto;
    width: auto;
    box-shadow: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: none;
}

.box-rating li a {
    color: #eece49;
}

.box-rating span {
    display: inline-block;
    vertical-align: middle;
}

.box-rating td svg {
    fill: #06089a;
    width: 30px;
    height: 30px;
}

.fltrs {
    border-bottom: 1px dotted #000;
    padding: 0 0 40px;
    margin: 0 0 40px;
}

.fltrs h2 {}

.fltr-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fltr-form .form-group {
    width: 32%;
}

.fltr-form input[type="submit"] {
    background: #06089a;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    border-radius: 30px;
    border: 0;
    height: 52px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.fltr-form input[type="submit"]:hover,
.fltr-form input[type="submit"]:focus {
    background: #f5e427;
    color: #000;
}

.srch-rslt h2 {
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    color: #3b3b3b;
    font-size: 30px;
    text-transform: uppercase;
}

.asset-info .btn {
    padding: 7px 52px;
    margin: 25px 0 0;
}

.product-details-sec .img-info-block {
    border: 0;
}

.edit-profile {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #06089a;
    z-index: 2;
}

.edit-profile:hover,
.edit-profile:focus {
    color: #f5e427;
}

.info-list.prjct-dtl-info {
    display: flex !important;
}

.info-list.prjct-dtl-info li {
    margin: 0;
    padding: 0 0 15px;
}

.info-list.prjct-dtl-info li:nth-child(odd) {
    border-right: 1px dotted #000;
}

#create-cmplnt {
    text-align: center;
}

#create-cmplnt .nav-tabs {
    border: 0;
}

#create-cmplnt .nav-tabs li .btn {
    padding: 7px 25px;
    border-radius: 30px;
    -webkit- border-radius: 30px;
    min-width: 172px;
    border: 0 !important;
}

#create-cmplnt .nav-tabs li .btn:hover,
#create-cmplnt .nav-tabs li .btn:focus,

#create-cmplnt .nav-tabs > li.active > a.btn,
#create-cmplnt .nav-tabs > li.active > a.btn:focus,
#create-cmplnt .nav-tabs > li.active > a.btn:hover {
    background: #393939 !important;
    color: #fff;
}

#create-cmplnt .nav-tabs li:first-child {
    margin-left: 0;
}

#create-cmplnt .nav-tabs li {
    margin-left: 15px;
}

#create-cmplnt .nav-tabs li {
    margin-bottom: 0 !important;
    float: none;
    display: inline-block;
}

#create-cmplnt .tab-content .tab-pane {
    margin-top: 40px;
}

/*******************************************MODAL CSS STARTS HERE*************************************************/

.modal {
    z-index: 99999;
}

.modal .tbl-view {
    display: table !important;
}

.modal-dialog {
    width: 100%;
    max-width: 749px;
    border-radius: 35px;
    position: absolute;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
}

.modal-content {
    border-radius: 20px;
}

.modal-header {
    padding: 30px 15px 10px;
    border-bottom: 0;
    min-height: 100%;
}

.modal-title {
    text-align: center;
    color: #3b3b3b;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
}

.modal-body form {
    width: 90%;
    max-width: 520px;
    margin: auto;
    text-align: center;
}

.modal-body .form-group {
    position: relative;
}

.modal-body .form-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    right: 20px;
    color: #918f8f;
}

.btn-sbmit {
    background: #06089a;
    display: inline-block;
    padding: 10px 55px;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    border-radius: 30px;
    margin: 45px auto 30px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border: 0;
}

.btn-sbmit:hover {
    background: #f6e428;
    color: #000;
}

.create-task-bx .btn-sbmit {
    margin: 45px 10px 30px;
}

.chs_fle {
    position: relative;
}

.chs_fle input[type="file"] {
    position: absolute;
    visibility: hidden;
    left: 0;
    height: 55px;
    width: 100%;
}

.chs_fle i {
    position: absolute;
    right: 22px;
    color: #918f8f;
    top: 49%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    z-index: 2;
    font-size: 22px;
}

.brws_inpt,
.brws_inpt1,
.brws_inpt2 {
    position: relative;
    cursor: pointer;
    padding-right: 48px !important;
}

/**** 13 August ****/

.txtarea_sctn .btn {
    min-width: 192px;
}

.txtarea_sctn textarea {
    border: 2px solid #292929;
    height: 104px;
    resize: none;
    width: 696px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    font-size: 18px;
    color: #000000;
    font-family: 'FuturaPT-Light';
    font-weight: normal;
    padding: 17px 26px;
    display: inline-block;
    vertical-align: middle;
}

.btm-0 {
    border: 0;
}

.txtarea_sctn textarea:focus {
    border-color: #f6e428;
}

.txtarea_sctn .chs_fle {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.snd-btn {
    display: block;
    margin-top: 30px;
}

/**** Safety Contect Page ****/

.safety-contect-main .nav-tabs {
    border: 0;
}

.safety-contect-main .nav-tabs li .btn {
    padding: 7px 25px;
    border-radius: 30px;
    -webkit- border-radius: 30px;
    min-width: 172px;
    border: 0 !important;
}

.safety-contect-main .nav-tabs li .btn:hover,
.safety-contect-main .nav-tabs li .btn:focus,

.safety-contect-main .nav-tabs > li.active > a.btn,
.safety-contect-main .nav-tabs > li.active > a.btn:focus,
.safety-contect-main .nav-tabs > li.active > a.btn:hover {
    background: #393939 !important;
    color: #fff;
}

.safety-contect-main .nav-tabs li:first-child {
    margin-left: 0;
}

.safety-contect-main .nav-tabs li {
    margin-left: 15px;
}

.safety-contect-main .nav-tabs li {
    margin-bottom: 0 !important;
}

.safety-contect-main .tab-content .tab-pane {
    margin-top: 40px;
}

.video-bx {
    width: 30%;
    display: inline-block;
    margin-right: 2%;
    margin-top: 54px;
}

.video-bx:first-child,
.video-bx:nth-child(2),
.video-bx:nth-child(3) {
    margin-top: 0;
}

.video-bx:nth-child(3n) {
    margin-right: 0;
}

.video-bx iframe {
    width: 100%!important;
    height: 100% !important;
}

.video-bx a {
    display: block;
}

.video-bx a figure {
    width: 100%;
    margin: 0 0 10px;
}

.video-bx figure img {
    width: 100%;
}

.video-bx span {
    font-size: 20px;
    color: #272727;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    letter-spacing: 1px;
}

.video-bx a:hover span,
.video-bx a:focus span {
    color: #06089a;
}

.doc-tbl a {
    margin: 0;
}

.doc-tbl td {
    padding: 30px 0;
    border-bottom: 1px dotted #dcdcdc;
    font-size: 20px;
    color: #272727;
    font-weight: normal;
    font-family: 'FuturaPT-Light';
}

.doc-tbl tr:first-child td {
    padding-top: 0;
}

.doc-tbl {
    width: 91%;
}

.doc-tbl tr td:last-child {
    text-align: right;
}

.doc-tbl tr:last-child td {
    border: 0;
}

.brws_inpt {
    font-family: 'FuturaPT-Light';
    font-weight: normal;
}

.usr-slct-slctn figure {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
}

.usr-slcted img {
    width: 100%;
}

.task-lft {
    border: 1px solid #292929;
    width: 38%;
    padding: 26px;
    margin-top: 34px;
    display: inline-block;
    vertical-align: top;
}

.usr-slct-slctn {
    width: 58px;
    height: 58px;
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.usr-slct-slctn:last-child {
    margin-right: 0;
}

.close_icn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.close_icn:hover,
.close_icn:focus {
    opacity: 0.6;
}

.usr-slcted {
    border-bottom: 1px dotted #dcdcdc;
    padding-bottom: 22px;
    margin-bottom: 22px;
}


.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + figure + label {
    position: static;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    margin: 0;
}

.styled-checkbox + figure + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #292929;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
}

.usr-chk {
    position: relative;
    margin-bottom: 16px;
}

.usr-chk:last-child {
    margin-bottom: 0;
}

.usr-chk figure {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin: 0 15px 0 34px;
    vertical-align: middle;
}

.styled-checkbox:checked + figure + label:before {
    background: #06089a;
}

.styled-checkbox:disabled + figure + label {

    cursor: auto;
}

.styled-checkbox:disabled + figure + label:before {
    box-shadow: none;

}

.styled-checkbox:checked + figure + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 28px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.styled-checkbox:checked + figure + label {
    color: #06089a;
    width: 75%;
}

.task-rght {
    border: 1px solid #292929;
    padding: 61px 50px 27px;
}

.task-rght-main {
    width: 59%;
    margin-left: 2%;
    display: inline-block;
    vertical-align: top;
}

.task-rght-main h1 {
    font-size: 30px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 10px;
}

.task-rght-main .tbl-view {
    margin-top: 0;
}

.task-rght-main .tbl-view th {
    border-top: 0;
    padding-top: 0;
}

.task-rght-main .tbl-view td {
    border: 0;
    padding: 26px 0 0 0;
}

.task-rght-main .tbl-view tr:last-child .btn {
    margin-right: 0;
}

/*******************************************MEDIA QUERY STARTS HERE*************************************************/

@media (min-width: 1500px) {
    .container {
        width: 1470px;
    }

}

@media (max-width:1400px) {
    .dashboard-nav li {
        font-size: 14px;
    }
    .dashboard-nav li a {
        padding: 14px 50px 15px 15px;

    }
    .dashboard-nav li a span {
        margin: 0 5px 0 0;
    }
    .dashboard-nav li a small {
        width: 35px;
        height: 35px;
        line-height: 38px;
        font-size: 14px;
    }
    .boxes li {
        padding: 20px 20px;
        height: 300px;
    }
    .boxes li h2 {
        font-size: 52px;
        margin: 0 0 24px;
    }
    .boxes li p {
        font-size: 16px;
        line-height: 1.5;
    }
    .boxes li h3 {
        font-size: 52px;
    }
    .boxes li .top-emplyees figure {
        width: 48px;
        height: 48px;
    }
    .top-emplyees .info {
        width: 70%;
    }
    .info h6 {
        font-size: 18px;
    }
    .info span {
        font-size: 15px;
    }
    .boxes li figure {
        width: 130px;
        margin: auto;
    }
    .login-window {
        padding: 40px 100px 50px;
    }
    .login-window .logo {
        margin: 0 0 40px;
        display: inline-block;
        width: 180px;
    }
    .sbmt-btn {
        width: 190px;
        height: 48px;
        margin: 25px auto 0;
        font-size: 22px;
    }
    .footer p {
        font-size: 17px;

    }
    .copyright-txt {
        font-size: 14px;
        margin: 10px 0 0;
    }
    .hdr-wrap .logo {
        width: 222px;
    }
    .dashboard-content {
        padding-top: 109px;
    }
    .dashboard-content aside {
        top: 109px;
    }
    /**** 13 August *****/
    .video-bx {
        width: 31%;
        margin-top: 30px;
    }
    .video-bx span {
        font-size: 18px;
        line-height: 23px;
    }
    .btn-sbmit {
        font-size: 20px;
        padding: 8px 45px;
        margin: 30px auto;
    }
    .cntnt-head-bar h1 {
        font-size: 24px;
    }
    .txtarea_sctn .btn {
        min-width: 120px;
    }
    .doc-tbl td {
        font-size: 18px;
        padding: 20px 0;
    }
    /**** Asset Page ****/
    .tbl-view th {
        font-size: 17px;
    }
    .tbl-view td {
        font-size: 16px;
        padding: 20px 0;
    }
    .checkin-out-chart {
        padding: 30px;
    }
    /**** Asset Detail Page ****/
    .rght-btn {
        padding: 7px 28px;
        font-size: 18px;
    }
    .asset-info p {
        font-size: 18px;
    }
    .asset-info p span {
        font-size: 16px;
    }
    .img-info-block {
        padding: 0 0 30px 0;
    }
    .additional-info h2,
    .pdf-sheet h2,
    .components-sec h2 {
        font-size: 24px;
    }
    .additional-info,
    .components-sec {
        margin: 23px 0;
    }
    .pdf-sheet {
        padding: 23px 0;
    }
    .sheets li {
        font-size: 18px;
    }
    .components-sec {
        padding-bottom: 23px;
    }
    .comments h2 {
        font-size: 24px;
    }
    .comments {
        margin: 30px 0;
    }
    .cmnt-block p {
        font-size: 17px;
    }
    .txtarea_sctn textarea {
        width: 500px;
    }
    /**** Collection Page ****/
    .btn {
        font-size: 17px;
        padding: 5px 25px;
    }
    .tbl-view.tbl-view1 td[data-column="Status"] {
        width: 300px;
    }
    .tbl-view.tbl-view1 td[data-column="Status"] a + a {
        margin-right: 0;
    }
    /**** Task Page ****/
    .task-rght-main h1 {
        font-size: 24px;
    }
    .task-lft {
        margin-top: 26px;
        padding: 15px;
    }
    .usr-slct-slctn {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .close_icn {
        width: 17px;
    }
    .styled-checkbox + figure + label {
        font-size: 18px;
    }
    .usr-chk figure {
        width: 50px;
        height: 50px;
    }
    .styled-checkbox:checked + figure + label {
        width: 64%;
    }
    .styled-checkbox:checked + figure + label:after {
        top: 24px;
    }
    .task-rght {
        padding: 27px 15px;
    }
    .usr-slcted {
        padding-bottom: 6px;
    }
    .task-rght-main .tbl-view td {
        padding-top: 16px;
    }
}
